@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg: #11111f;
  --primary: #5271ff;
  --font: "Mokoto", sans-serif;
}

@font-face {
  font-family: "Mokoto";
  src: url("/Mokoto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: #fff;
}

p {
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
}
